* {
    box-sizing: border-box;
}

.cell {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    border: 1px solid #666;

    &--plain {
        content: "";
        display: inline-block;
        background-color: #666;
    }

    &--input {
        text-align: center;
        font-size: 1.5rem;
    }
}
form {
    display: block;
}
