@import "../../partials/variables";
@import "../../partials/mixins";
@import "../../partials/global";



.header {
    display: flex;
    flex-direction: column;
    align-content: center;
   
}

.header__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 0.5rem;
}

.header__menu {
    padding: 1rem;
    background-color: $main-color;
}
.header__list {
    display: flex;
    justify-content: center;
    color: $white-color;
    text-transform: uppercase;
    font-weight: bold;
}
