@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
$fancy-font: 'Fredoka One', cursive;

$hints-box: lightgrey;

// Colors
$main-1: #00B0D7; // #92AAC7;
$main-2: #085D82;
$main-accent: #ffd202;

$accent-1: #A1BE95;
$accent-2: #E2DFA2;
$accent-3: #ED5752;

// Other
$border-radius: 4px;